@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #e50914;
  ---grey: #222222;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  line-height: 63px;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.6rem;
}

input,
button {
  border: none;
}

button {
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  background: var(--primary);
}

button img {
  position: relative;
  top: 3px;
  right: -10px;
}

button:hover {
  background: red;
}

.sign-in-btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 7px 17px;
}

/* header */

header {
  position: relative;
  top: 0;
  z-index: 1;
  height: 100px;
}

header img {
  width: 170px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: auto;
}

/* hero */

.hero {
  height: 65vh;
  margin-top: -100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: radial-gradient(#00000063, #000000e3), url("./assets/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-content {
  max-width: 700px;
}

.hero .hero-content h4 {
  margin: 25px 0;
  font-weight: 400;
}

.hero .hero-content p {
  font-size: 1.15rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-container button {
  font-size: 1.5rem;
  padding: 14px 39px;
  position: relative;
  top: 5px;
}

.input-container input {
  border: 2px solid #fff;
  outline: none;
  width: 100%;
  padding: 19px;
  position: relative;
  top: 5px;
}

.input-container input:focus {
  border-color: #2b96ff;
}

/* sections */

.section {
  border-top: 10px solid var(---grey);
  border-bottom: 10px solid var(---grey);
  color: #fff;
}

body .reverse-section {
  border-width: 0;
}

.section-wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section p {
  font-size: 27px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  /* .hero h1 {
    font-size: 1.75rem;
    line-height: 33px;
  }

  .hero p,
  .hero h2 {
    font-size: 1.125rem;
  }

  .input-container input,
  .input-container button {
    font-size: 0.9rem;
  }

  .input-container input {
    width: 75%;
    margin: 10px 0;
    padding: 7px 12px;
  }

  .input-container button {
    border-radius: 5px;
    padding: 7px 17px;
    top: 0;
  } */
}
